html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  animation-name: scroll;
  animation-duration: 1s;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: burlywood;
}

.App h2,
.LineSummary {
  cursor: pointer;
}

.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Book {
  scroll-snap-align: start;
  height: 100vh;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Page {
  height: 900px;
  width: 700px;
  padding: 5px 10px;
  background-color: rgb(17, 13, 13);
  position: relative;
}

.Page-Content {
  display: flex;
  height: 770px;
  background-color: cornsilk;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 50px;
  font-size: 19px;
  font-weight: 700px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: start;
}

.Paragraph {
  margin: 7px;
  text-align: start;
  width: 100%;
}

.LineSummary {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 50px;
}

.PageNumber {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

@media (max-width: 1024px) {
  .Page {
    scale: 0.9;
  }
}

@media (max-width: 425px) {
  .Book {
    width: 420px;
  }
  .Page {
    width: 420px;
    height: 700px;
  }

  .Page-Content {
    width: 100%;
    height: 800px;
  }
}

@media (max-height: 800px) {
  .Page {
    height: 730px;
  }

  .Page-Content {
    height: 600px;
    font-size: 15px;
  }
  
  h2 {
    font-size: 20px;
    padding: 0px;
    margin: 5px;
  }

  h4 {
    margin: 0px;
  }
}
